:root {
    /* global colors */
  --primary-color-dark: #000; 
  --primary-color-accent: rgba(20, 166, 223, 0.671); 
    /* font colors */
  --primary-font-color: #000;  
  --secondary-font-color: #222; 
    /* font families */
  --primary-font-family: 'Lato', sans-serif;
  --font-family-bold: 700;
  --font-family-black: 900;
  /* breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 991px;
  --breakpoint-xlg: 1200px;
}
