@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: var(--primary-font-family);
}

h1 {
    color: var(--primary-font-color);
    font-weight: var(--font-family-black);
    font-size: 100px;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}
/* TODO: find why varialble doesn't work */
@media only screen and (max-width: 576px) {
    h1 {
        font-size: 32px;
    }
}


h2 {
    color: var(--primary-font-color);
    font-weight: var(--font-family-black);
}

h3, h4, h5, h6 {
    color: var(--secondary-font-color);
}

